<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sample Core Data App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A4A2F39B1B9FA5B100B0A087</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4A2F3B41B9FA5B200B0A087</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4A2F3BF1B9FA5B200B0A087</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
